//Variables color

$color-primary: #900c3f;
$color-secondary: #C70039;
$color-terciary: #581845;
$color-cuaternary: #faebd7;
$color-cinco: #000;
$color-seis: #fff;
$color-back-primary: #decac3;

//Variables fuente

$font-primary: 'Lobster', cursive;
$font-secondary: 'Dosis', sans-serif;

